@model SharedModel

<a asp-action="Edit" asp-route-id="@Model.Id"><i class="ri-edit-line"></i></a>
<a asp-action="Details" asp-route-id="@Model.Id"><i class="ri-file-list-3-line"></i></a> |
<a asp-action="Delete" asp-route-id="@Model.Id"><i class="ri-delete-bin-line"></i></a>