@model Ad
@inject AppDbContext Db
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var categories = new SelectList(Db.Categories.Select(m => new { m.Id, m.Name }).ToList(), "Id", "Name");
}

<h1>Create</h1>

<h4>Ad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdNature" class="control-label"></label>
                <select asp-for="AdNature" class="form-control" asp-items="@Html.GetEnumDropDownList<AdNature>()"></select>
                <span asp-validation-for="AdNature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleMap" class="control-label"></label>
                <textarea asp-for="GoogleMap" class="form-control"></textarea>
                <span asp-validation-for="GoogleMap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@categories"></select>
            </div>


            <div class="form-group">
                <label asp-for="Uploads" class="control-label"></label>
                <input asp-for="Uploads" class="form-control" />
                <span asp-validation-for="Uploads" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
